.navigation {
  width: 100%;
  flex-grow: 1;
  padding: 0;
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-rows: 91px 1fr;
  grid-template-areas:
    "nav nav"
    "footer page";
}
