.averageChart {
  grid-area: averageChart;
  position: relative;
  background-color: #ff0101;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;

  .title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff67;
    margin-top: 10%;
    margin-left: 10%;
    @media (max-width: 1172px) {
      font-size: 12px;
    }
  }
}
.chartOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: 10;
}
