.userCharts {
  width: 70%;
  display: grid;
  grid-template-rows: 54% 36%;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10%;
  grid-column-gap: 2%;
  grid-template-areas:
    "activityChart activityChart activityChart"
    "averageChart intensityChart performanceChart";
}
