.intensityChart {
  grid-area: intensityChart;
  .radarChart {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    max-width: "500px";
    max-height: "80vh";
    color: #fff;
    background-color: #282d30;
    aspect-ratio: 1;
  }
}
