.containerNotFound {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #2c3e50;
  text-align: center;
  padding: 20px;

  .titleNotFound {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .descriptionNotFound {
    font-size: 1.2rem;
    color: #7f8c8d;
  }
}
