:root {
  --text: #000;
  --bg: #020203;

  --sans: Roboto, sans-serif;

  @media (min-width: 1024px) {
    font: var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
