:root {
  --text: #000;
  --bg: #020203;

  --sans: Roboto, sans-serif;

  font: var(--sans);

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
